.mxw-toast {
    position: absolute;
    z-index: 100000;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 100px;
    background: white;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}
.mxw-hidden {
    display: none;
}
.mxw-visible {
    display: block;
}